PORT=4040
EVOLUTION_URL=http://127.0.0.1:8080
API_KEY=local_test_key_123
INSTANCE_NAME=ReNile_service

// --- JWT Secret Key for Token Generation ---
// this is the same user in Nojo project, 
// so we can use the same secret key for JWT token generation and verification
JWT_SECRET=ReNile_Secure_Key_2026_!@#