PORT=4040
EVOLUTION_URL=url
API_KEY=key
INSTANCE_NAME=service_name

// --- JWT Secret Key for Token Generation ---
// this is the same user in Nojo project, 
// so we can use the same secret key for JWT token generation and verification
JWT_SECRET=jwt